/* .content {
  position: relative;
  display: flex;
  flex: 1;
} */

.face_up,
.face_down {
  display: flex;
  width: 100%;
  height: 100%;
}

.face_up {
  background-color: #a5158c;
  border-radius: 20px;
  padding: 0 5px;
  margin: 0.7rem;
  cursor: pointer;
}

.answer {
  display: flex;
  margin: 5px;
}

.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  font-size: 2.1rem;
  font-weight: 700;
  margin: 5px;
}

.value {
  display: flex;
  align-items: center;
  height: 40px;
  margin: 5px;
  font-size: 1.5rem;
  font-weight: 700;
}
